// 定义颜色
$color-blue: #2ca2f9;
$color-font: #333333;
$color-bottom: #33a3f5;
$color-item: #e5e5e5;

// 字体
$font-size-sm: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-l-x: 20px
